{% extends "base.html" %}
{% load static %}

{% block page_title %}Erlave{% endblock page_title %}
    
{% block content %}
    <main class="pt-80">
        <!-- ==================== Start Hero ==================== -->
        <section class="hero section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="intro">
                            <div class="lg-box">
                                <div class="box1">
                                    <div class="tow-items">
                                        <div class="item1 box-shadwo">
                                            <div class="circle-item d-flex align-items-center justify-content-center">
                                                <h6>
                                                    <a href={% url "about" %}>
                                                        درباره ما
                                                    </a>
                                                </h6>
                                            </div>
                                            <div class="text-center mt-30">
                                                <a href={% url "about" %}>
                                                    <svg class="arrow-down" style="stroke-width: 2;"
                                                        viewbox="0 0 34.2 32.3" x="0px" xml:space="preserve"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                                                        <line x1="0" x2="33" y1="16" y2="16">
                                                        </line>
                                                        <line x1="17.3" x2="33.2" y1="0.7" y2="16.5">
                                                        </line>
                                                        <line x1="17.3" x2="33.5" y1="31.6" y2="15.4">
                                                        </line>
                                                    </svg>
                                                    <p class="fz-13 mt-15">
                                                        دیدن رزومه
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item2">
                                            <div
                                                class="sub-item1 box-shadwo d-flex align-items-center justify-content-center">
                                                <div class="text-center">
                                                    <h2 class="fw-700">
                                                    {{home.experience}}
                                                    </h2>
                                                    <p class="fz-13">
                                                        سال
                                                        <br />
                                                         تجربه
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="sub-item2 box-shadwo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-down box-shadwo d-flex align-items-center">
                                        <div>
                                            <div class="circle-item d-flex align-items-center justify-content-center">
                                                <a href={% url "services" %}>
                                                    <svg class="arrow-right" style="stroke-width: 2;"
                                                        viewbox="0 0 34.2 32.3" x="0px" xml:space="preserve"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                                                        <line x1="0" x2="33" y1="16" y2="16">
                                                        </line>
                                                        <line x1="17.3" x2="33.2" y1="0.7" y2="16.5">
                                                        </line>
                                                        <line x1="17.3" x2="33.5" y1="31.6" y2="15.4">
                                                        </line>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <h6 class="ml-15">
                                            <a href={% url "services" %}>
                                                خدمات ما
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="box2">
                                    <div class="item3 box-shadwo" style=" width: 150px;
                                                height: 145px;
                                                background-image: url('{{home.image.url}}');
                                                background-size: cover;
                                                border-radius: 50px 50px 0 50px;">
                                        

                                    </div>
                                    <div class="item4 box-shadwo d-flex align-items-center">
                                        <h6>
                                            <a href={% url "portfolio" %}>
                                                نمونه کارها ما
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-boxs">
                                <div class="item5 box-shadwo d-flex align-items-center justify-content-center">
                                    <a class="icon" href={{site_setting.linkdin_link}}>
                                        <i class="fab fa-linkedin-in">
                                        </i>
                                    </a>
                                </div>
                                <div class="item6 box-shadwo d-flex align-items-center justify-content-center">
                                    <a class="icon" href={{site_setting.instagram_link}}>
                                        <i class="fab fa-instagram">
                                        </i>
                                    </a>
                                </div>
                                <div class="item7 box-shadwo d-flex align-items-center justify-content-center">
                                    <a class="icon" href={{site_setting.github_link}}>
                                        <i class="fab fa-github">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="author-profile">
                            <div class="author-img">
                                <div class="img">
                                    <img alt="" src={{home.image.url}} />
                                </div>
                            </div>
                            <div class="author-info">
                                <div class="text-center">
                                    <span class="main-color sub-title mb-10">
                                        {{home.title_2_of_3}}
                                    </span>
                                    <h4 class="fw-500">
                                        سلام ، من {{site_setting.site_name}} هستم
                                    </h4>
                                </div>
                                <div class="social mt-20">
                                    <a class="icon" href={{site_setting.linkdin_link}}>
                                        <i class="fab fa-linkedin-in">
                                        </i>
                                    </a>
                                    <a class="icon" href={{site_setting.instagram_link}}>
                                        <i class="fab fa-instagram">
                                        </i>
                                    </a>
                                    <a class="icon" href={{site_setting.github_link}}>
                                        <i class="fab fa-github">
                                        </i>
                                    </a>
                                </div>
                            </div>
                            <div class="butns mt-30">
                                <a class="inf-butn" data-scroll-nav="4" href={% url "contact" %}>
                                    <span>
                                        با ما تماس بگیرید
                                    </span>
                                </a>
                                <a class="inf-butn" href={% url "portfolio" %}>
                                    <span>
                                        دیدن رزومه
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 valign">
                        <div class="content">
                            <h5 class="cd-headline slide">
                                <span>
                                    سلام ، من 
                                </span>
                                <span class="cd-words-wrapper main-color">
                                    {% if hello %}
                                        {% for hellos in hello %}
                                            <b class="is-visible">
                                                {{hellos.title}}
                                            </b>
                                        {% endfor %}
                                    {% else %}
                                    {{site_setting.site_name}}
                                    {% endif %}
                                </span>
                                هستم
                            </h5>
                            <h1>
                               {{home.title_1_of_3}}
                                <span class="bord">
                                    {{home.title_2_of_3}}
                                </span>
                                 {{home.title_3_of_3}}
                            </h1>
                            <p class="text">
                                {{home.descreption}}
                            </p>
                            <div class="stauts mt-50 pt-50 bord-thin-top">
                                <div class="d-flex align-items-center">
                                    <div class="mr-40">
                                        <div class="d-flex align-items-center">
                                            <h2>
                                                {{home.complate_projects}}
                                            </h2>
                                            <p>
                                                پروژه
                                                <br />
                                                کامل
                                            </p>
                                        </div>
                                    </div>
                                    <div class="mr-40">
                                        <div class="d-flex align-items-center">
                                            <h2>
                                                {{home.customer}}
                                            </h2>
                                            <p>
                                                مشتری
                                                <br />
                                                در سراسر جهان
                                            </p>
                                        </div>
                                    </div>
                                    <div class="ml-auto">
                                        <div class="butn-presv">
                                            <a class="butn butn-md butn-bord radius-5 skew" href={% url "contact" %}>
                                                <span>
                                                    من را استخدام کن!
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== End Hero ==================== -->
    </main>


{% endblock content %}