{% load static %}
    
    <!-- ==================== Start Footer ==================== -->
    <footer>
        <div class="container pb-30 pt-30 bord-thin-top">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <p class="fz-13">
                            © {{site_setting.copyright_text}}
                            {% comment %} <span class="underline main-color">
                                <a href="https://dmoo.ir/demo/andrew" target="_blank">
                                    dmoo.ir
                                </a>
                            </span> {% endcomment %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ==================== End Footer ==================== -->