{% load static %}


<!-- ==================== Start Loading ==================== -->
    <div class="loader-wrap">
        <svg preserveaspectratio="none" viewbox="0 0 1000 1000">
            <path d="M0,1005S175,995,500,995s500,5,500,5V0H0Z" id="svg">
            </path>
        </svg>
        <div class="loader-wrap-heading">
            <div dir="ltr" class="load-text">
                <span>
                    L
                </span>
                <span>
                    O
                </span>
                <span>
                    A
                </span>
                <span>
                    D
                </span>
                <span>
                    I
                </span>
                <span>
                    N
                </span>
                <span>
                    G
                </span>
            </div>
        </div>
    </div>
    <!-- ==================== End Loading ==================== -->
    <div class="cursor">
    </div>
    <!-- ==================== Start progress-scroll-button ==================== -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" height="100%" viewbox="-1 -1 102 102" width="100%">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98">
            </path>
        </svg>
    </div>
    <!-- ==================== End progress-scroll-button ==================== -->