{% extends "base.html" %}
{% load static %}

{% block page_title %}Erlave Services{% endblock page_title %}


{% block content %}

    <main class="pt-80">
        <!-- ==================== Start Services ==================== -->
         {% if serv %}
        <section class="services section-padding">
            <div class="container with-pad">
                <div class="sec-head mb-80">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 text-center">
                            <div class="d-inline-block">
                                <div class="sub-title-icon d-flex align-items-center">
                                    <span class="icon pe-7s-bell">
                                    </span>
                                    <h6>
                                        خدمات من
                                    </h6>
                                </div>
                            </div>
                            <h3>
                                چه خدماتی ارائه می دهم؟
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for serv in serv %}
                    <div class="col-lg-4 col-md-6">
                        <div class="item mb-30">
                            <div class="cont">
                                <div class="d-flex align-items-center mb-30">
                                    <div>
                                        <span class="icon-img-50 mr-40">
                                            {% comment %} <img alt="" src="assets/imgs/serv-img/1.png" /> {% endcomment %}
                                            <i class="devicon-{{serv.icon}}-plain colored" style="font-size: 55px;"></i>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="opacity-7 fz-13 mb-5">
                                            {{serv.projects}} پروژه
                                        </span>
                                        <h5 class="fz-20">
                                            {{serv.title}}
                                        </h5>
                                    </div>
                                </div>
                                <p>
                                             {{serv.descreption}}           </p>
                                <a class="mt-30" href={{serv.url}}>
                                    <span>
                                        بیشتر بخوانید
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}
        <!-- ==================== End Services ==================== -->
        <!-- ==================== Start Pricing ==================== -->
        <section class="price section-padding pt-0">
            <div class="container with-pad">
                <div class="sec-head mb-80">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 text-center">
                            <div class="d-inline-block">
                                <div class="sub-title-icon d-flex align-items-center">
                                    <span class="icon pe-7s-rocket">
                                    </span>
                                    <h6>
                                        پلن های خدمات
                                    </h6>
                                </div>
                            </div>
                            <h3>
                                قیمت گذاری شگفت انگیز برای پروژه های شما
                            </h3>
                            <p class="mt-15">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="item md-mb50">
                            <h6 class="type">
                                استاندارد
                            </h6>
                            <div class="content d-flex align-items-center">
                                <div class="amount mr-40">
                                    <h2 class="main-color">
                                        10 میلیون 
                                    </h2>
                                    <a class="butn butn-md butn-bord radius-30 text-u text-center mt-30" href="#0">
                                        <span>
                                            ثبت درخواست
                                        </span>
                                    </a>
                                </div>
                                <div class="feat">
                                    <ul class="rest">
                                        <li>
                                            <i class="fas fa-check">
                                            </i>
                                            <span>
                                                طراحی وایرفریم
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check">
                                            </i>
                                            <span>
                                                طراحی با figma ، framer
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check">
                                            </i>
                                            <span>
                                                پیاده سازی با Webflow ، React ، WordPress ، Laravel/PHP
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check">
                                            </i>
                                            <span>
                                                ۶ ماه پشتیبانی رایگان
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="item">
                            <h6 class="type">
                                پریمیرم
                            </h6>
                            <div class="content d-flex align-items-center">
                                <div class="amount mr-40">
                                    <h2 class="main-color">
                                        ۱۹ میلیون 
                                    </h2>
                                    <a class="butn butn-md butn-bord radius-30 text-u text-center mt-30" href="#0">
                                        <span>
                                            ثبت درخواست
                                        </span>
                                    </a>
                                </div>
                                <div class="feat">
                                    <ul class="rest">
                                        <li>
                                            <i class="fas fa-check">
                                            </i>
                                            <span>
                                                طراحی وایرفریم
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check">
                                            </i>
                                            <span>
                                                طراحی با figma ، framer
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check">
                                            </i>
                                            <span>
                                                پیاده سازی با Webflow ، React ، WordPress ، Laravel/PHP
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fas fa-check">
                                            </i>
                                            <span>
                                                ۶ ماه پشتیبانی رایگان
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== End Pricing ==================== -->
        <!-- ==================== Start Brands ==================== -->
        <section class="brands section-padding pt-0">
            <div class="container with-pad">
                <div class="text-center">
                    <h6>
                        بیشتر از
                        <span class="main-color">
                            ۲۰۰+ کسب و کار
                        </span>
                        در سراسر جهان به ما اعتماد کرد
                    </h6>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-lg-2 col-6">
                        <div class="item">
                            <div class="img icon-img-100">
                                <a href="#0">
                                    <img alt="" src="assets/imgs/brands/b1.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 col-6">
                        <div class="item">
                            <div class="img icon-img-100">
                                <a href="#0">
                                    <img alt="" src="assets/imgs/brands/b2.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 col-6">
                        <div class="item">
                            <div class="img icon-img-100">
                                <a href="#0">
                                    <img alt="" src="assets/imgs/brands/b3.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 col-6">
                        <div class="item">
                            <div class="img icon-img-100">
                                <a href="#0">
                                    <img alt="" src="assets/imgs/brands/b4.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 col-6">
                        <div class="item">
                            <div class="img icon-img-100">
                                <a href="#0">
                                    <img alt="" src="assets/imgs/brands/b1.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 col-6">
                        <div class="item">
                            <div class="img icon-img-100">
                                <a href="#0">
                                    <img alt="" src="assets/imgs/brands/b3.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== End Brands ==================== -->
    </main>

{% endblock content %}