{% extends "base.html" %}
{% load static %}



{% block page_title %}About Erlave{% endblock page_title %}



{% block content %}




    <main class="pt-80">
        <!-- ==================== Start About ==================== -->
        <section class="about section-padding">
            <div class="container with-pad">
                <div class="row lg-marg">
                    <div class="col-lg-5 valign">
                        <div class="profile-img">
                            <div class="img">
                                <img alt="" src={{about.img.url}} />
                            </div>
                            <span class="icon">
                                <img alt="" src={% static "imgs/header/icon1.png" %} />
                            </span>
                            <span class="icon">
                                <img alt="" src={% static "imgs/header/icon2.png" %} />
                            </span>
                            <span class="icon">
                                <img alt="" src={% static "imgs/header/icon3.png" %} />
                            </span>
                            <span class="icon">
                                <img alt="" src={% static "imgs/header/icon4.png" %} />
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-7 valign">
                        <div class="cont">
                            <div class="sub-title-icon d-flex align-items-center">
                                <span class="icon pe-7s-gleam">
                                </span>
                                <h6>
                                    درباره من
                                </h6>
                            </div>
                            <div class="text">
                                <h4 class="mb-30">
                                {{about.title_1_of_3}}
                                    <span class="main-color">
                                        {{about.title_2_of_3}}
                                    </span>
                                    {{about.title_3_of_3}}
                                </h4>
                                <p>
                                    {{about.descreption}}
                                </p>
                                <div class="feat mt-30">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="item mb-15">
                                                <h6 class="sub-title ls1">
                                                    <span class="fz-13 mr-10 main-color">
                                                        <i class="fas fa-check">
                                                        </i>
                                                    </span>
                                                    {{about.ability1}}
                                                </h6>
                                            </div>
                                            <div class="item sm-mb15">
                                                <h6 class="sub-title ls1">
                                                    <span class="fz-13 mr-10 main-color">
                                                        <i class="fas fa-check">
                                                        </i>
                                                    </span>
                                                    {{about.ability2}}
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item mb-15">
                                                <h6 class="sub-title ls1">
                                                    <span class="fz-13 mr-10 main-color">
                                                        <i class="fas fa-check">
                                                        </i>
                                                    </span>
                                                   {{about.ability3}}
                                                </h6>
                                            </div>
                                            <div class="item">
                                                <h6 class="sub-title ls1">
                                                    <span class="fz-13 mr-10 main-color">
                                                        <i class="fas fa-check">
                                                        </i>
                                                    </span>
                                                    {{about.ability4}}
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info mt-50">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="item d-flex align-items-center sm-mb30">
                                                <div class="mr-15">
                                                    <span class="icon pe-7s-mail">
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="opacity-7 mb-5">
                                                        به ما ایمیل بزنید
                                                    </span>
                                                    <h6>
                                                        {{site_setting.email}}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item d-flex align-items-center">
                                                <div class="mr-15">
                                                    <span class="icon pe-7s-call">
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="opacity-7 mb-5">
                                                        با ما تماس بگیرید
                                                    </span>
                                                    <h6>
                                                        {{site_setting.phone_number}}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== End About ==================== -->
        <!-- ==================== Start Skills ==================== -->
         {% if ability %}
        <section class="skills section-padding pt-0">
            <div class="container with-pad">
                <div class="sec-head mb-80">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="sub-title-icon d-flex align-items-center">
                                <span class="icon pe-7s-gym">
                                </span>
                                <h6>
                                    مهارت های من
                                </h6>
                            </div>
                            <h3>
                                مهارت های من 
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for ability in ability %}
                        <div class="col-lg-4 col-md-6">
                            <div class="item mb-30">
                                <div class="d-flex align-items-center mb-30">
                                    <div class="mr-30">
                                        <div class="img  ">
                                           <i class="devicon-{{ ability.icon }}-plain " style="font-size: 25px;"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="fz-18">
                                            {{ability.title}}
                                        </h6>
                                    </div>
                                </div>
                                <div class="skill-progress">
                                    <span class="progres" data-value="{{ability.percent}}%">
                                    </span>
                                </div>
                                <span class="value">
                                    {{ability.percent}} ٪
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}
        <!-- ==================== End Skills ==================== -->
        <!-- ==================== Start Resume ==================== -->

        <!-- ==================== End Resume ==================== -->
    </main>






{% endblock content %}