{% extends "base.html" %}
{% load static %}

{% block page_title %}Contact To  Erlave{% endblock page_title %}


{% block content %}

    <main class="pt-80">
        <!-- ==================== Start Contact ==================== -->
        <section class="contact section-padding">
            <div class="container">
                <div class="sec-head mb-80">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 text-center">
                            <div class="d-inline-block">
                                <div class="sub-title-icon d-flex align-items-center">
                                    <span class="icon pe-7s-map-marker">
                                    </span>
                                    <h6>
                                        با ما تماس بگیرید
                                    </h6>
                                </div>
                            </div>
                            <h3>
                                بیایید در تماس باشیم!
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    {% comment %} <div class="col-lg-12">
                        <div class="google-map mb-80">
                            <iframe id="gmap_canvas"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12950.331018037285!2d51.31934880689841!3d35.761058923152206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8dfd420e8e1b11%3A0x4306cde5c02091c7!2sPunak%2C%20District%202%2C%20Tehran%2C%20Tehran%20Province%2C%20Iran!5e0!3m2!1sen!2s!4v1729012944298!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div> {% endcomment %}
                    <div class="col-lg-5 valign">
                        <div class="info full-width md-mb80">
                            <div class="item mb-30 d-flex align-items-center">
                                <div class="mr-15">
                                    <span class="icon fz-40 main-color pe-7s-call">
                                    </span>
                                </div>
                                <div class="mr-10">
                                    <h6 class="opacity-7">
                                        تلفن
                                    </h6>
                                </div>
                                <div class="ml-auto">
                                    <h4>
                                        {{site_setting.phone_number}}
                                    </h4>
                                </div>
                            </div>
                            <div class="item mb-30 d-flex align-items-center">
                                <div class="mr-15">
                                    <span class="icon fz-40 main-color pe-7s-mail">
                                    </span>
                                </div>
                                <div class="mr-10">
                                    <h6 class="opacity-7">
                                        ایمیل
                                    </h6>
                                </div>
                                <div class="ml-auto">
                                    <h4>
                                        <a href="mailto:abc@example.com">
                                            {{site_setting.email}}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="item d-flex align-items-center">
                                <div class="mr-15">
                                    <span class="icon fz-40 main-color pe-7s-map-marker">
                                    </span>
                                </div>
                                <div class="mr-10">
                                    <h6 class="opacity-7">
                                        آدرس
                                    </h6>
                                </div>
                                <div class="ml-auto">
                                    <h4>
                                        {{site_setting.address}}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 valign">
                        <div class="full-width">
                            <form method="post"  action="{% url 'contact' %}" >
                                {% csrf_token %}
                                <div class="messages">
                                </div>
                                <div class="controls row">
                                    <div class="col-lg-6">
                                        <div class="form-group mb-30">
                                            <label>
                                                نام شما
                                            </label>
                                            <input id="form_name" name="name" required="required" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mb-30">
                                            <label>
                                                ایمیل شما
                                            </label>
                                            <input id="form_email" name="email" required="required" type="email" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>
                                                پیام شما
                                            </label>
                                            <textarea id="form_message" name="massage" required="required"></textarea>
                                        </div>
                                        <div class="mt-30">
                                            <button type="submit">
                                                <span class="text">
                                                    ارسال پیام
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== End Contact ==================== -->
    </main>

{% endblock content %}